body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Dark background */
    color: #fff; /* White text color */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; /* Stretch the container across the entire width */
}

.content-wrap {
    width: 300px; /* Adjusted width */
    padding: 20px;
    background-color: #333; /* Dark grey background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #555; /* Dark grey background */
    color: #fff; /* White text color */
}

input[type="submit"] {
    background-color: #6a0dad; /* Purple button color */
    color: white;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #4b004b; /* Darker shade on hover */
}

p {
    text-align: center;
    margin-top: 10px;
    color: #ccc; /* Light grey text color */
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.button-container a.btn {
    display: block;
    padding: 10px 20px;
    background-color: #6a0dad; /* Purple button color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.button-container a.btn:hover {
    background-color: #4b004b; /* Darker shade on hover */
    transform: scale(1.05);
}

/* New styles for Buy Tokens page */
#gift-card-input {
    width: 80%; /* Inherit the width of the parent container */
    padding: 10px;
    margin-bottom: 10px; /* Add some space between input field and button */
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #555;
    color: #fff;
}

#redeem-btn {
    width: 100%;
    padding: 10px;
    background-color: #6a0dad; /* Purple button color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#redeem-btn:hover {
    background-color: #4b004b; /* Darker shade on hover */
}

/* Adjusted styles for purchase options */
#purchase-options {
    display: none; /* Hide the purchase options */
}
